.gitignore
supervisord.conf
my-gitit*.conf

gitit-users
templates/page_more_scripts.st

wikidata*/

cache/

*.pyc
.DS_Store
logs-*

*supervisord*.sock


localscript*.sh
_test*
test-*.sh
*.log
*.pid
.DS_Store